@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/antd.min.css';

/* tabla */
.ant-table {
    line-height: 1;
}

/* colapse */
.ant-collapse-header {
    background-color: #fafafa;
    padding-block: 8px !important;
}

/* boton primary */
.ant-btn-primary {
    background-color: #0095f6;
}